*{
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
}

.header{
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.booklist{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.book{
    display: flex;
    width: calc(100%/3);
    padding:0;
    margin:0;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
h1{
    color: pink;
    font-size: 3rem;
}
.header p{
    padding:0;
    margin:0;
}

img{
    margin: 2rem;
    height: 300px;
    width:  200px;
    border: 4px solid black;
}

.booklink{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.booktitle{
    text-align: right;
}

@media(max-width:788px){
    .booklist{
        flex-direction: column;
    }
    .book{
        width: 80%;
    }

}
@media(min-width:784px) and (max-width:1192px){
    .booktitle{
        display: none;
    }
}

/* this is for detail pages */
.summary{
    text-align: justify;
}
nav{
    padding:0;
    margin: 0;
}